body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 30px;
}
p{
    text-align: justify;
}
.orange-color{
    color: orange;
}
#diet-padding{
    padding-top: 5%;
    padding-left: 4%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(240, 126, 126), rgb(187, 32, 5));
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 40px;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.half-width img{
    width: 100%;
}
#about-me{
    background-image: url(7.png);
    background-repeat: no-repeat;
}
.font-color{
    color: gray;
}
#about-pic{
    width: 50%;
    padding-left: 160px;
    padding-top: 10%;
}
#about-padding{
    padding-right: 150px;
    padding-left: 50px;
}