body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 22px;
    font-weight: bolder;
}
p{
    text-align: justify;
}
.orange-color{
    color: orange;
}
#diet-padding{
    padding-top: 5%;
    padding-left: 4%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(240, 126, 126), rgb(187, 32, 5));
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 40px;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.one-third-width{
    width: 27.3%;
    border: 20px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px gainsboro;
}
.half-width img{
    width: 100%;
}
.one-third-width img{
    width: 100%;
}
#about-me{
    background-image: url(7.png);
    background-repeat: no-repeat;
}
.font-color{
    color: gray;
}
#about-pic{
    width: 50%;
    padding-left: 160px;
    padding-top: 10%;
}
#about-padding{
    padding-right: 150px;
    padding-left: 50px;
}
#my-recipies{
    text-align: center;
}
#recipies-padding{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}
#first-margin{
    margin-left: 6%;
}
#second-margin{
    margin-left: 3%;
    margin-right: 3%;
}
#third-margin{
    margin-right: 6%;
}
.food-network-id{
    text-align: center;
}
#NETWORK-ID{
    color: gray;
}
#bg-foodnetwork{
    background-color: black;
}
#white-id{
    color: whitesmoke;
    font-size: 10px;
}